@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  height: 100%;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;

  /* font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif; */
}

body {
  background-color: white;
  color: black;
}
article {
  font-size: 1.2rem;
  font-weight: 300;
}
@media (prefers-color-scheme: dark) {
  body {
    /* Previously set dark mode background. Removed to prevent fading black bg during scroll */
    /* background-color: rgb(24, 24, 31); */
    /* color: rgb(238, 238, 238); */
  }
}
p {
  @apply font-sans;
}
ul {
  list-style: disc;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
  font-size: 1.3rem;
}

h2 {
  font-weight: 600;
}

footer ol {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.logo:hover {
  animation: shake 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
